body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;

    flex-direction: column; /* Column layout */
    
}


.container {
    width: 80%;
    margin: -5px auto 0; /* Adjust the margin-top value as needed */
}

header {
    background-color: #2c5364;
    color: #ffffff;
    padding: 15px 0;
    text-align: left;

}


.title {
    font-size: 28px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #f7df1e;
}

.main {
    text-align: center;
    
}

.section-title {
    font-size: 24px;
    margin-top: 16px;
    font-style: inherit;
}

.division {
    display: inline-block;
    margin: 20px;
    text-align: center;
    position: relative;
}

.division img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #2c5364;
}

.division p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.footer {
    background-color: #2c5364;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Move footer to bottom */
}

.footer ul {
    padding: 0;
}

.footer ul li {
    display: inline;
    margin-right: 20px;
}

.footer ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer ul li a:hover {
    color: #f7df1e;
}
